.btn-true {
    background-color: #4CAF50;
    transition-duration: 1s;
    transform: scale(1.5);
}

.btn-false {
    background-color: #af4c4c;
    transition-duration: 1s;
    transform: scale(1);
}


.sideBarDiv {
    width: max-content;
    height: 100vh;
}